{{ define "main" }}
{{ $pages := (where (where .Site.Pages "Type" "post") "IsPage" true) }}

<div data-pagefind-ignore="all" class="container">
    <div class="row">
   	    <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container
        ">
            <div class="archive-list">
                {{ range ($pages.GroupByDate "2006") }}
                {{ if gt .Key 1 }}
                    {{ $.Scratch.Set "count" 1 }}
                    {{ range .Pages  }}
                        {{ if (eq ($.Scratch.Get "count") 1) }}
                            {{ $.Scratch.Set "count" 0 }}
                            <h1 class="title is-4 has-text-weight-normal">{{ .Date.Format "2006" }}</h1>
                        {{ end }}
                    {{ end }}

                    <ul>
                    {{ range .Pages }}
                        <li>
                            <span>{{ .Date.Format "01/02" }}</span> — 
                            <a href="{{ .RelPermalink }}">
                                {{ .Title }}
                            </a>
                        </li>
                    {{ end }}
                    </ul>

                {{ end }}
                {{ end }}
            </div>
       	</div>
        {{ partial "sidebar.html" . }}
	</div>
</div>


<hr />
{{ end }}

