<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- start ogp -->
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="article">

    {{ if .Params.thumbnail }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}">
    <meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}" />
    {{ else if .Params.image}}
    <meta property="og:image" content="{{ .Params.image }}">
    <meta property="twitter:image" content="{{ .Params.image }}" />
    {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.header_image }}">
    <meta property="twitter:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.header_image }}" />
    {{ end }}

    {{ if .Params.title }}
    <meta name="title" content="{{ .Params.title }}" />
    <meta property="og:title" content="{{ .Params.title }}" />
    <meta property="twitter:title" content="{{ .Params.title }}" />
    {{ else }}
    <meta name="title" content="{{ .Site.Params.title }}" />
    <meta property="og:title" content="{{ .Site.Params.title }}" />
    <meta property="twitter:title" content="{{ .Site.Params.title }}" />
    {{ end }}

    {{ if .Params.description }}
    <meta name="description" content="{{ .Params.description }}">
    <meta property="og:description" content="{{ .Params.description }}" />
    <meta property="twitter:description" content="{{ .Params.description }}" />
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="twitter:description" content="{{ .Site.Params.description }}" />
    {{ end }}

    {{ if .Params.summary }}
    <meta property="twitter:card" content="{{ .Params.summary }}" />
    {{ else }}
    <meta property="twitter:card" content="summary" />
    {{ end }}
    <!-- end ogp -->

    <meta name="keyword"  content="{{ .Site.Params.keyword }}">
    <link rel="shortcut icon" href="{{ "img/favicon.ico" | relURL }}">

    <title>{{ if .Title }}{{ .Title }} | {{ .Site.Params.SEOTitle }}{{ else }}{{ .Site.Params.SEOTitle }}{{ end }}</title>

    <link rel="canonical" href="{{ .RelPermalink }}">

    {{ if .Site.Params.disqus_proxy }}
    <link rel="stylesheet" href="{{ "css/iDisqus.min.css" | relURL }}"/>
    {{ end }}
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">

    <!-- Clean White theme CSS -->
    <link rel="stylesheet" href="{{ "css/hugo-theme-cleanwhite.min.css" | relURL }}">

    <!-- zangshang CSS -->
    <link rel="stylesheet" href="{{ "css/zanshang.css" | relURL }}">

    <!-- Custom Fonts -->
    <link href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.15.1/css/all.css" rel="stylesheet" type="text/css">

    <!--  Custom CSS  -->
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    <!-- jQuery -->
    <script src="{{ "js/jquery.min.js" | relURL }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | relURL }}"></script>

    <!-- Hux Theme JavaScript -->
    <script src="{{ "js/hux-blog.min.js" | relURL }}"></script>

    <!-- lazy load image JavaScript -->
    <script src="{{ "js/lazysizes.min.js" | relURL }}"></script>

    <!-- Custom JS -->
    {{ range .Site.Params.custom_js }}
    <script src="{{ . | absURL }}"></script>
    {{ end }}

</head>

{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics.html" . }}
{{ end }}
