<div class="entry-shang text-center">
    {{ if .Site.Params.reward_guide }}
	    <p> 「{{ .Site.Params.reward_guide }}」</p>
	{{ else }}
	    <p>「真诚赞赏，手留余香」</p>
	{{ end }}
	<button class="zs show-zs btn btn-bred">赞赏支持</button>
</div>
<div class="zs-modal-bg"></div>
<div class="zs-modal-box">
	<div class="zs-modal-head">
		<button type="button" class="close">×</button>
		<span class="author"><a href="{{ .Site.BaseURL }}"><img src="{{ "img/favicon.png" | relURL}}" />{{ .Site.Title }}</a></span>
        {{ if .Site.Params.reward_guide }}
	        <p class="tip"><i></i><span>{{ .Site.Params.reward_guide }}</span></p>
		{{ else }}
	        <p class="tip"><i></i><span>真诚赞赏，手留余香</span></p>
		{{ end }}
 
	</div>
	<div class="zs-modal-body">
		<div class="zs-modal-btns">
			<button class="btn btn-blink" data-num="2">2元</button>
			<button class="btn btn-blink" data-num="5">5元</button>
			<button class="btn btn-blink" data-num="10">10元</button>
			<button class="btn btn-blink" data-num="50">50元</button>
			<button class="btn btn-blink" data-num="100">100元</button>
			<button class="btn btn-blink" data-num="1">任意金额</button>
		</div>
		<div class="zs-modal-pay">
			<button class="btn btn-bred" id="pay-text">2元</button>
			<p>使用<span id="pay-type">微信</span>扫描二维码完成支付</p>
			<img src="{{ "img/reward/wechat-2.png" | relURL }}"  id="pay-image"/>
		</div>
	</div>
	<div class="zs-modal-footer">
		<label><input type="radio" name="zs-type" value="wechat" class="zs-type" checked="checked"><span ><span class="zs-wechat"><img src="{{ "img/reward/wechat-btn.png" | relURL }}"/></span></label>
		<label><input type="radio" name="zs-type" value="alipay" class="zs-type" class="zs-alipay"><img src="{{ "img/reward/alipay-btn.png" | relURL }}"/></span></label>
	</div>
</div>
<script type="text/javascript" src="{{ "js/reward.js" | relURL }}"></script>
Footer

